<section class="section locations">
  <h1 class="has-text-centered is-size-1 has-text-black has-text-weight-bold">
    Check Out Our Great Locations
  </h1>
  <div class="columns">
    <div class="column">

      <%= render partial: "default/shared/location", locals: { 
        name: "Alexandria Nicole Cellars",
        street: "2880 Lee Rd, Suite D",
        city: "Prosser",
        state: "WA",
        description: "Recently awarded one of the Top 10 Hottest Brands as well as one of the Top 10 Wineries to Visit.",
        image: "locations/AlexandriaNicoleCellars.jpg"
      } %>

    </div>
    <div class="column">
      <%= render partial: "default/shared/location", locals: { 
        name: "Basel Cellars",
        street: "15029 Woodinville-Redmond Rd",
        city: "Woodinville",
        state: "WA",
        description: "Lorem, ipsum dolor sitm aperiam perspiciatis eaque quis vero omnis!",
        image: "locations/baselcellars.jpg"
      } %>
    </div>
    <div class="column">
      <%= render partial: "default/shared/location", locals: { 
        name: "Charles Smith Wines Jet City",
        street: "1136 S Albro Pl",
        city: "Seattle",
        state: "WA",
        description: "Voted as one of the top 10 wine travel destinations of 2019 by Wine Enthusiast Magazine.",
        image: "locations/charlessmithwines.jpg"
      } %>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <%= render partial: "default/shared/location", locals: { 
        name: "Chateau Ste. Michelle Winery",
        street: "14111 NE 145th St",
        city: "Woodinville",
        state: "WA",
        description: "Featuring award-winning wines and an unparalleled tasting experience at a historic chateau and grounds.",
        image: "locations/ChateauSteMichelle.jpg"
      } %>
    </div>
    <div class="column">
      <%= render partial: "default/shared/location", locals: { 
        name: "Cloudlift Cellars",
        street: "312 S Lucile St",
        city: "Seattle",
        state: "WA",
        description: "An truly stunning location, as featured in the Seattle Times and Wine Enthusiast Magazine.",
        image: "locations/cloudlift.jpg"
      } %>
    </div>
    <div class="column">
      
      <%= render partial: "default/shared/location", locals: { 
        name: "Columbia Winery",
        street: "14030 NE 145th St",
        city: "Woodinville",
        state: "WA",
        description: "Columbia Winery continues their 50-year-old legacy of discovering and celebrating exceptional wine.",
        image: "locations/ColumbiaWinery.jpg"
      } %>
    </div>

  </div>

  <p class="has-text-centered">
    <a class="button is-link is-large locations__btn">Show More Locations</a>
  </p>

  <div class="is-hidden">
    <div class="columns">
      <div class="column">
        <%= render partial: "default/shared/location", locals: { 
          name: "Cougar Crest Estate Winery",
          street: "14366 Woodinville-Redmond Road NE",
          city: "Redmond",
          state: "WA",
          description: "Lorem, ipsum dolor sitm aperiam perspiciatis eaque quis vero omnis!",
          image: "locations/cougarcrest.jpg"
        } %>
      </div>
      <div class="column">
        <%= render partial: "default/shared/location", locals: { 
          name: "DeLille Cellars Tasting Room",
          street: "14421 Redmond-Woodinville Rd NE",
          city: "Woodinville",
          state: "WA",
          description: "Previous winner of Washington winery of the year according to Wine Press Northwest.",
          image: "locations/DeLilleCellars.jpg"
        } %>
      </div>
      <div class="column"> 
        <%= render partial: "default/shared/location", locals: { 
          name: "Nine Hats Wines",
          street: "3861 1st Ave S",
          city: "Seattle",
          state: "WA",
          description: "Nine Hats Wines is the multi-award winning winemaker and home of the famous Wine Yoga events.",
          image: "locations/Nine-Hats-Winery.jpg"
        } %>
      </div>
    </div>

    <div class="more-locations-cta has-text-centered	">
      <p class="is-size-3">Want to see the full list of our venues? Just select the appropriate app store for your device!</p>
      <%= link_to "https://play.google.com/store/apps/details?id=com.pssprt.savor.mobile" do %>
        <%= image_tag "google-play-badge.svg", width: "200", class: "passport-hero__appstore", alt: "Google Play App Store" %>
      <% end %>
      <%= link_to "https://itunes.apple.com/us/app/savor-seattle/id1367652737?l=fr&ls=1&mt=8" do %>
        <%= image_tag "apple-appstore-badge.svg", width: "200", class: "passport-hero__appstore", alt: "Apple App Store" %>
      <% end %>
    </div>

    

  </div>
</section>
