---
target: Out of Towners - Over 35
title: Savor Seattle Wine Passports
meta_description: Seattle Wine Passport is an exciting new app from the team behind Savor Seattle designed to provide you with access to Seattle's best wineries at a fraction of their regular cost.
hero_headline: Discover the best wine Seattle has to offer...
intro_headline: A Wine Experience Like No Other...
intro_text: "<strong>Taste & Experience the Best of Seattle Wines</strong> Explore and savor the best wineries in Seattle and nearby Woodinville! Choose your own 10 tasting locations, with <strong>all wine tastings included</strong>, and let Lyft be your designated driver with <strong>$50 in free ride credits!</strong> Enjoy total flexibility, at your own pace, on your own schedule."
about_headline: Trust the Seattle Experts
about_text: "<p>
          Savor Seattle has been treating locals and visitors to the best food and drink 
          available in Seattle for over 10 years now. We're the experts in what's good, 
          what's fresh, what's new, and where you absolutely have to go. We're so 
          excited to offer this wine passport because we have hand picked the best 
          places to sample the best wines in Seattle and Woodinville. 
        </p>
        <p>
          <strong>
            This passport will allow you to create your own unique, flavorful, 
            and unexpected journey through Seattle wines, we can't wait for you 
            to give it a try!
          </strong>
        </p>"
lyft_headline: Get there and around, hassle and stress free!
lyft_text: "<p>
          For a day of tasting wines, we don't want you to worry about finding 
          a designated driver, let Lyft do it for you! With $50 of Lyft credits, 
          you'll be able to get to the vineyards and spend the day hopping 
          from one to the next with everyone in your group getting to partake 
          in the delicious fun.
        </p>
        <p>
          <strong>
            Five $10 ride credits for <u>new and existing Lyft customers</u>.
          </strong>
        </p>"
footer_headline: What are you waiting for?
footer_text: Download the app now and start planning your own Seattle wine adventure!
---

<%= partial "partials/top_nav" %>

<%= partial "partials/hero", locals: {
  headline: current_page.data.hero_headline
} %>

<%= partial "partials/features" %>

<%= partial "partials/intro_text", locals: {
  intro_headline: current_page.data.intro_headline,
  intro_text: current_page.data.intro_text
} %>

<%= partial "partials/howitworks" %>

<%= partial "partials/wine", locals: {
  about_headline: current_page.data.about_headline,
  about_text: current_page.data.about_text
} %>



<%= partial "partials/testimonial" %>

<%= partial "partials/features" %>

<%= partial "partials/lyft", locals: {
  lyft_headline: current_page.data.lyft_headline,
  lyft_text: current_page.data.lyft_text
} %>

<%= partial "partials/locations" %>

<%= partial "partials/faq" %>

<%= partial "partials/footer", locals: {
  footer_headline: current_page.data.footer_headline,
  footer_text: current_page.data.footer_text
} %>
